page-home {
  .toolbar-title {
    color: white;
  }

  .bar-buttons {
    color: white;
  }

  ion-footer ion-item {
    padding-left: 0 !important;
  }

  ion-footer ion-icon {
    font-size: 2.2em;
    position: absolute;
    right: 10px;
    bottom: 7px;
  }

  ion-content .scroll-content {
    padding-top: 16px !important;
  }

  .robot-msg img {
    width: 40px;
    height: auto;
    border-radius: 50%;
    margin-right: 10px;
  }

   .my-msg img {
     width: 40px;
     height: auto;
     border-radius: 50%;
     float: right;
     margin-left: 10px;
   }

  .robot-msg, .my-msg {
    display: block;
    height: auto;
  }

  .robot-msg {
    margin-left: 10px;
    color: white;
  }

  .my-msg {
    margin-right: 10px;
    overflow: auto;
  }

  .robot-msg .msg-container {
    background-color: #8A70C2;
    display: inline-block;
    width: auto;
    max-width: 70%;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 16px;
    vertical-align: top;
  }

  .my-msg .msg-container {
    background-color: #E4E4E4;
    display: inline-block;
    width: auto;
    max-width: 70%;
    float: right;
    height: auto;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 16px;
  }
}
