page-homeworks {
  ion-header ion-buttons {
    margin-right: 12px;
  }

  ion-header ion-buttons button {
    font-size: 0.8em !important;
  }

  .date-picker {
    color: #AEAEAE;
    text-align: center;
    padding-top: 16px;
    font-size: 1.2em;
    font-weight: 300;
  }

  .date-picker ion-icon {
    margin-left: 16px;
    margin-right: 16px;
    font-size: 1.8em;
  }

  round-progress {
    margin: auto;
    margin-top: 16px;
    margin-bottom: 20px;
  }

  .date-time {
    vertical-align: top;
    position: relative;
    top: 4px;
  }

  ion-list-header {
    margin-bottom: 0 !important;
    border-top: 0 !important;
    background-color: #EBEBEB !important;
    color: #6F6F6F !important;
  }

  .item-inner {
    border-bottom: 0 !important;
  }

  ion-checkbox {
    margin-left: 16px !important;
    margin-right: 10px !important;
  }

  .value-progress {
    text-align: center;
    font-size: 2.2em;
    color: #8A70C2;
    position: relative;
    bottom: 118px;
  }

  ion-list {
    margin-top: -30px !important;
    margin-bottom: 0 !important;
  }

  .homeworks-header {
    background-image: url("../../assets/img/study.jpg");
    background-size: cover;
  }
}
